{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<style>
  .relative {
      position: relative;
      width: 400px;
      height: 200px;
      margin-left: 60px; 
  }
</style>

<!-- Start of centered content -->
<div class="relative">
  <h3 style="margin-bottom: 40px; margin-top: 40px;">Select your action</h3>
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px; color: font-weight: bold;">
    <form method="POST">
      <div>
        
        <div style="text-align: center;"> <!-- Allineamento del pulsante al centro -->
            <button name="Employee" class="btn btn-primary" type="button" onclick="showEmployees()">Show<br>Employee-Database</button>
            <button name="UpdateEmployee" class="btn btn-primary" type="button" onclick="updateEamployeesDatabase()">Update the Database<br><span style="font-size: 14px;">(Authentication Needed)</span></button>

      </div>
    </form>
  </fieldset>
</div>
<script>
  function showEmployees() {
     window.location.href="/show_employees" 
  }
  function updateEamployeesDatabase() {
      window.location.href="/update_DB" 
   }
</script>
     {% endblock %}