<'--https://stackoverflow.com/questions/52544089/how-to-create-two-html-buttons-side-by-side--'>
<'--https://www.altcademy.com/blog/how-to-link-a-button-to-another-page-in-html/'>

{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<style>
    /* CSS for centering content */
    #cent {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  </style>
</style>
<h3 align="center">Select your action</h3>

<!-- Start of centered content -->
<div id="cent">
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px">
    <form method="POST">
      <div>
        
        <div style="text-align: center;"> <!-- Aligning the button to the center -->
            <button name="Employee" class="btn btn-primary" type="button" onclick="showEmployees()">Show<br>Employee-Database</button>
            <button name="UpdateEmployee" class="btn btn-primary" type="button" onclick="updateEamployeesDatabase()">Update the Database<br><span style="font-size: 14px;">(Authentication Needed)</span></button>

      </div>
    </form>
  </fieldset>
</div>
<script>
    function showEmployees() {
       window.location.href="/show_employees" 
    }
    function updateEamployeesDatabase() {
        window.location.href="/update_employees" 
     }
</script>
{% endblock %}

