{% extends "base.html" %}
{% block title %}
  Login
{% endblock %}

{% block content %}
<style>
        .relative {
            position: relative;
            width: 400px;
            height: 200px;
            margin-left: 20px; 
        }
</style>

<!-- Start of centered content -->
<div class="relative">
  <h3 align="center" style="margin-bottom: 40px; margin-top: 40px;">Login</h3>
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 400px; padding: 20px;">
    <form method="POST">
      <div>
        <div class="form-group">
            <label for="username">First Name</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter first name"
            />
          </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <div style="text-align: center;"> <!-- Aligning the button to the center -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </fieldset>
</div>
<!-- End of centered content -->
{% endblock %}