<!-- Author: Cecilia astore -->
<!-- login.html -->
<!-- Login form -->
<!-- References: https://github.com/techwithtim/Flask-Web-App-Tutorial -->

<!-- extends of the base template for the navigation bar -->
{% extends "base.html" %}

<!-- name of the tab -->
{% block title %}
  Login
{% endblock %}

{% block content %}
<style>
        /* CSS styles for positioning */
        .relative {
            position: relative;
            width: 400px;
            height: 200px;
            margin-left: 20px; 
        }
</style>

<!-- Start of centered content -->
<div class="relative">
  <!-- Login form -->
  <h3 align="center" style="margin-bottom: 40px; margin-top: 40px;">Login</h3>
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 400px; padding: 20px;">
    <form method="POST">
      <div>
        <!-- Form fields for username and password -->
        <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter username"
            />
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <!-- Submit button -->
        <div style="text-align: center;"> <!-- Aligning the button to the center -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </fieldset>
</div>
<!-- End of centered content -->
{% endblock %}