<!--https://blog.hubspot.com/website/html-space - aggiungere spazi -->
<!--https://dev.to/urstrulyvishwak/why-transformtranslate-50-50-to-center-element-15m1 - centrare -->

{% extends "base.html" %}

{% block title %}
Employees_Database
{% endblock %}

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .relative {
            position: relative;
            width: 400px;
            height: 200px;
            margin-left: 60px; 
        }
    </style>
</head>

<div class="relative">
    <h3 style="margin-bottom: 40px; margin-top: 40px;">Employees Databases</h3>
    <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px">
    <table border="1",align="center", id="employeeTable">
        <tr>
            <th><span style="margin: 0 10px;">Id</span></th>
            <th><span style="margin: 0 10px;">First Name</span></th>
            <th><span style="margin: 0 10px;">Last Name</span></th>
            <th><span style="margin: 0 10px;">Employee ID</span></th>
            <th><span style="margin: 0 10px;">Market</span></th>          
        </tr>
    </table>
    <br/>
</div>

<script>
    function getAllAjax(){
        $.ajax({
            "url": "/employees",
            "method":"GET",
            "dataType": "json",
            "success":function(result){
                result.forEach(function(employee) {
                    addEmployeeToTable(employee);
                });
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function addEmployeeToTable(employee){
        var tableElement = document.getElementById('employeeTable');
        var rowElement = tableElement.insertRow(-1);
        rowElement.setAttribute('id', employee.id);
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = employee.id;
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = employee.first_name;
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = employee.last_name;
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = employee.employee_id;
        var cell4 = rowElement.insertCell(4);
        cell4.innerHTML = employee.market;
    }

    // Call the getAllAjax() function when the page loads
    getAllAjax();
</script>
{% endblock %}