<!-- Author: Cecilia pastore -->
<!-- showDB.html -->
<!-- show database with Ajax operation to GET the content of the database -->


<!-- extends of the base template for the navigation bar -->
{% extends "base.html" %}

<!-- name of the tab -->
{% block title %}
Employees_Database
{% endblock %}

{% block content %}
<head>
    <!-- Importing jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        /* CSS styles for positioning */
        .relative {
            position: relative;
            width: 400px;
            height: 200px;
            margin-left: 60px; 
        }
    </style>
</head>

<!-- Start of centered content -->
<div class="relative">
    <!-- Title -->
    <h3 style="margin-bottom: 40px; margin-top: 40px;">Employees Databases</h3>
    <!-- Table container -->
    <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px">
        <table border="1" align="center" id="employeeTable">
            <!-- Table headers -->
            <tr>
                <th><span style="margin: 0 10px;">Id</span></th>
                <th><span style="margin: 0 10px;">First Name</span></th>
                <th><span style="margin: 0 10px;">Last Name</span></th>
                <th><span style="margin: 0 10px;">Employee ID</span></th>
                <th><span style="margin: 0 10px;">Market</span></th>          
            </tr>
        </table>
        <br/>
    </fieldset>

    <!-- Button to navigate back to the home page -->
    <div style="margin-top: 60px">
        <!-- Aligning the button to the center -->
        <button type="button" id="GoToUP" class="btn btn-primary" onclick="GoToHome()">Home</button>
    </div>

    <!-- JavaScript script for AJAX operation -->
    <script>
        // Function to navigate back to the home page
        function GoToHome(){
            window.location.href="/"
        }

        // Function to fetch all employees data using AJAX
        function getAllAjax(){
            $.ajax({
                "url": "/employees",
                "method":"GET",
                "dataType": "json",
                "success":function(result){
                    // Iterate through each employee and add to table
                    result.forEach(function(employee) {
                        addEmployeeToTable(employee);
                    });
                },
                "error":function(xhr,status,error){
                    console.log("error: "+status+" msg:"+error);
                }
            });
        }

        // Function to add an employee to the table
        function addEmployeeToTable(employee){
            var tableElement = document.getElementById('employeeTable');
            var rowElement = tableElement.insertRow(-1);
            rowElement.setAttribute('id', employee.id);
            var cell1 = rowElement.insertCell(0);
            cell1.innerHTML = employee.id;
            var cell2 = rowElement.insertCell(1);
            cell2.innerHTML = employee.first_name;
            var cell3 = rowElement.insertCell(2);
            cell3.innerHTML = employee.last_name;
            var cell4 = rowElement.insertCell(3);
            cell4.innerHTML = employee.employee_id;
            var cell4 = rowElement.insertCell(4);
            cell4.innerHTML = employee.market;
        }

        // Call the getAllAjax() function when the page loads
        getAllAjax();
    </script>
</div>
<!-- End of centered content -->
{% endblock %}