<!-- Author: Cecilia pastore -->
<!-- sign_up.html -->
<!-- Signin form - POST is performed in the api_server. py-->
<!-- Main references: https://github.com/techwithtim/Flask-Web-App-Tutorial -->

<!-- Extends the base template for the navigation bar -->
{% extends "base.html" %}

<!-- Title of the page -->
{% block title %}
  Sign up
{% endblock %}

{% block content %}
<!-- Importing jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
  /* CSS styles for positioning */
  .relative {
      position: relative;
      width: 400px;
      height: 200px;
      margin-left: 60px; 
  }
</style>

<!-- Start of centered content -->
<div class="relative">
  <!-- Sign-up form title -->
  <h3 style="margin-bottom: 40px; margin-top: 40px;">Sign Up</h3>
  <!-- Form container -->
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px">
    <form id="signupForm" method="POST">
      <div>
        <!-- Username field -->
        <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="-- Enter Username --"
            />
        <!-- First name field -->
        <div class="form-group">
              <label for="first_name">First Name</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                placeholder="-- Enter First Name -- "
        />
        <!-- Last name field -->
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            placeholder="-- Enter Second Name --"
        />       
        <!-- Password field -->
        <div class="form-group">
          <label for="password1">Password</label>
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
          />
        </div>
        <!-- Confirm password field -->
        <div class="form-group">
          <label for="password2">Password (Confirm)</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
          />
        </div>
        <br />
        <!-- Submit and Go to Login buttons -->
        <div style="text-align: center;"> <!-- Aligning the buttons to the center -->
            <button type="submit" style="display: inline", id="submit", class="btn btn-primary">Submit</button>
            <button type="button" style="display: inline", id="goTologin", class="btn btn-primary" onclick="GotoLogin()">GoToLogin</button> 
        </div>
    </form>
  </fieldset>
</div>

<!-- JavaScript function to redirect to the login page -->
<script>
  function GotoLogin(){
    window.location.href="/login"
  }
</script>
{% endblock %}
