<!-- More information on CSS positioning can be found at: 
https://www.w3schools.com/css/css_positioning.asp - fixing position -->
<!-- More information on CSS positioning can be found at: 
<!--https://www.w3schools.com/css/css_positioning.asp - padding --> 

{% extends "base.html" %}

{% block title %}
  Sign up
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
  .relative {
      position: relative;
      width: 400px;
      height: 200px;
      margin-left: 60px; 
  }
</style>

<!-- Start of centered content -->
<div class="relative" >
  <h3 style="margin-bottom: 40px; margin-top: 40px;">Sign Up</h3>
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px">
    <form id="signupForm" method="POST">
      <div>
        <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="-- Enter Username --"
            />
        <div class="form-group">
              <label for="first_name">First Name</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                placeholder="-- Enter First Name -- "
        />
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            placeholder="-- Enter Second Name --"
        />       
        <div class="form-group">
          <label for="password1">Password</label>
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
          />
        </div>
        <div class="form-group">
          <label for="password2">Password (Confirm)</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
          />
        </div>
        <br />
        <div style="text-align: center;"> <!-- Aligning the button to the center -->
            <button type="submit" style="display: inline", id="submit", class="btn btn-primary">Submit</button>
            <button type="button" style="display: inline", id="goTologin", class="btn btn-primary" onclick="GotoLogin()">GoToLogin</button> 
      </div>
    </form>
  </fieldset>
</div>
<script>
  function GotoLogin(){
    window.location.href="/login"
  }
</script>
{% endblock %}
