<!-- Author: Cecilia pastore -->
<!-- update_employee.html -->
<!-- form to update employee and perform PUT crud operation through ajax-->

<!-- extends of the base template for the navigation bar -->
{% extends "base.html" %}

{% block title %}
Update Employee
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
  /* CSS styles for positioning */
  .relative {
      position: relative;
      width: 400px;
      height: 200px;
      margin-left: 60px; 
  }
</style>

<!-- Start of centered content -->
<div class="relative">
  <!-- Title -->
  <h2><span id="createLabel">Update an Employee</span></h2>
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px">
    <form id="updateForm" method="POST">
      <div>
        <!-- Form inputs for updating employee data -->
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            name="first_name"
            placeholder="-- Enter First Name -- "
          />
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            name="last_name"
            placeholder="-- Enter Second Name --"
          /> 
        </div>
        <div class="form-group">
          <label for="employee_id">Employee ID</label>
          <input
            type="text"
            class="form-control"
            id="employee_id"
            name="employee_id"
            placeholder="-- Enter Employee ID --"
          />      
        </div>
        <div class="form-group">
          <label for="market">Market</label>
          <input
            type="text"
            class="form-control"
            id="market"
            name="market"
            placeholder="-- Enter Market --"
          />
        </div>
        <div style="margin-top: 60px">
          <!-- Submit button -->
          <button type="button" id="submit" class="btn btn-primary" onclick="doUpdateEmployee()">Submit</button>
        </div>
      </div>
    </form>
  </fieldset>
  <!-- Button to return to the Update DB page -->
  <div style="margin-top: 60px">
    <button type="button" id="GoToUP" class="btn btn-primary" onclick="GoToUP()">Return on Update DB</button>
  </div>
</div>
<script>
  // Populate the form fields with URL parameters
  var urlParams = new URLSearchParams(window.location.search);
  document.getElementById("first_name").value = decodeURIComponent(urlParams.get("first_name"));
  document.getElementById("last_name").value = decodeURIComponent(urlParams.get("last_name"));
  document.getElementById("employee_id").value = decodeURIComponent(urlParams.get("employee_id"));
  document.getElementById("market").value = decodeURIComponent(urlParams.get("market"));
  
  // Function to redirect to the Update DB page
  function GoToUP(){
    window.location.href="/update_DB";
  }
  
  // Function to update an employee via AJAX
  function doUpdateEmployee(){
    var form = document.getElementById('updateForm');
    var employee = {};
  
    employee.id =  decodeURIComponent(urlParams.get("id"))
    employee.first_name = form.querySelector('input[name="first_name"]').value;
    employee.last_name = form.querySelector('input[name="last_name"]').value;
    employee.employee_id = form.querySelector('input[name="employee_id"]').value;
    employee.market = form.querySelector('input[name="market"]').value;
    console.log(employee);
    
    UpdateEmployeeAjax(employee)
  }
  
  // Function to perform AJAX update operation
  function UpdateEmployeeAjax(employee){
    console.log("Updating employee:", JSON.stringify(employee));
    console.log("Employee data:", employee);
    
    $.ajax({
      // URL to send the AJAX request for updating an employee
      "url": "/employees",
      "method": "PUT",
      // Data to send in the request body, serialized as JSON
      "data": JSON.stringify(employee),
      // Expected data type of the response
      "dataType": "JSON",
      // Content type of the data sent to the server
      "contentType": "application/json; charset=utf-8",
      // Function to execute if the request succeeds
      "success": function(result) {
          // Log success message and call GoToUP() function
          console.log("Update successful:", result);
          GoToUP();
      },
      // Function to execute if the request fails
      "error": function(xhr, status, error) {
          // Log error message and XHR object for debugging
          console.log("Error occurred during update:", status, error);
          console.log("XHR object:", xhr);
      }
  });
}
  
</script>
{% endblock %}