{% extends "base.html" %}

{% block title %}
Update Employees Database
{% endblock %}

<!--https://blog.hubspot.com/website/html-space - aggiungere spazi -->
<!--https://dev.to/urstrulyvishwak/why-transformtranslate-50-50-to-center-element-15m1 - centrare -->

{% block content %}
<head>
    <style>
        .center {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; /* Center-align the content */
        }
    </style>
</head>

<head>
    <title>Employees Database</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="center">
    <h3 id="title">Employees Databases</h3>
    <br>
    <button id="showCreateButton" class="btn btn-primary" onclick="showCreate()" style="display: block; margin: 0 auto 20px;">Create</button>
    <br>
    <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px; display: inline-block;">
        <table border="1" align="center" id="employeeTable">
            <tr>
                <th><span style="margin: 0 10px;">Id</span></th>
                <th><span style="margin: 0 10px;">First Name</span></th>
                <th><span style="margin: 0 10px;">Last Name</span></th>
                <th><span style="margin: 0 10px;">Employee ID</span></th>
            </tr>
        </table>
    </fieldset>
</div>
<br>
<div id='createUpdateForm' class="center" style="display: none">
    <h2><span id="createLabel">Create a</span> <span id="updateLabel">Update a</span> Employee</h2>
    <br>
    <fieldset style="background: #f6f8ff; border: 2px solid #4238ca; width: 600px; padding: 20px; color: font-weight: bold;">
        First name <input type="text" name="first_name" style="color: blue; font-weight: bold;"><br>
        Second name <input type="text" name="last_name"> <br>
        Employee id <input type="number" name="employee_id"> <br>
    </fieldset>
    <br>
    <button id="doCreateButton" class="btn btn-primary" onclick="doCreate()" style="display: block; margin: 0 auto;">Create</button>
    <button id="doUpdateButton" class="btn btn-primary" onclick="doUpdate()" style="display: block; margin: 0 auto;">Update</button>
</div>

<script>
    function showCreate(){
        document.getElementById('title').style.display="none"
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('employeeTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="inline"
        document.getElementById('updateLabel').style.display="none"

        document.getElementById('doCreateButton').style.display="block"
        document.getElementById('doUpdateButton').style.display="none"

    }
    function doCreate(){
        var form = document.getElementById('createUpdateForm');
        var employee = {};

        employee.first_name = form.querySelector('input[name="first_name"]').value;
        employee.last_name = form.querySelector('input[name="last_name"]').value;
        employee.employee_id = form.querySelector('input[name="employee_id"]').value;

        createEmployeeAjax(employee);
    }

    function createEmployeeAjax(employee){
        $.ajax({
            url: "/employees",
            method: "POST",
            data: JSON.stringify(employee),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(result){
                // Handle success response, if needed
                console.log("Employee created successfully");
                // Reload the table with updated data
                getAllAjax();
            },
            error: function(xhr, status, error){
                console.log("Error: " + status + " Message: " + error);
            }
        });
    }
    
    function getAllAjax(){
        $.ajax({
            "url": "/employees",
            "method":"GET",
            "dataType": "json",
            "success":function(result){
                result.forEach(function(employee) {
                    addEmployeeToTable(employee);
                });
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function addEmployeeToTable(employee){
        var tableElement = document.getElementById('employeeTable');
        var rowElement = tableElement.insertRow(-1);
        rowElement.setAttribute('id', employee.id);
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = employee.id;
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = employee["First Name"];
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = employee["Second Name"];
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = employee["Employee ID"];
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = '<button class="btn btn-primary btn-space" onclick="showUpdate(this)">Update</button>';
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = '<button class="btn btn-primary btn-space" onclick="doDelete(this)">Delete</button>';


    }

    // Call the getAllAjax() function when the page loads
    getAllAjax();
</script>
{% endblock %}