<!-- Author: Cecilia pastore -->
<!-- update_DB.html -->
<!-- Show the database and perform multiple CRUD operarion through ajax-->

<!-- References: https://github.com/andrewbeattycourseware-->
<!-- References:https://www.w3schools.com/jsref/jsref_encodeuricomponent.asp-->
<!-- References:https://www.w3schools.com/jsref/prop_node_firstchild.asp-->


<!-- extends of the base template for the navigation bar -->
{% extends "base.html" %}

{% block title %}
Update_DB
{% endblock %}

{% block content %}
<head>
    <!-- Importing jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        /* CSS styles for positioning */
        .relative {
            position: relative;
            width: 400px;
            height: 200px;
            margin-left: 60px; 
        }
    </style>
</head>

<div id="Table1", class = relative>
    <!-- Title -->
    <h3 id="title">Employees Databases</h3>
    <br>
    <!-- Button to create new employees -->
    <button id="showCreateButton" class="btn btn-primary" onclick="showCreate()" style="display: block;">Create</button>
    <br>
    <!-- Table to display employee data -->
    <fieldset id="fieldset" style="background: #f6f8ff; border: 2px solid #4238ca; width: 800px; padding: 20px; display: inline-block;">
        <table border="1" id="employeeTable">
            <tr>
                <th><span style="margin: 0 10px;">Id</span></th>
                <th><span style="margin: 0 10px;">First Name</span></th>
                <th><span style="margin: 0 10px;">Last Name</span></th>
                <th><span style="margin: 0 10px;">Employee ID</span></th>
                <th><span style="margin: 0 10px;">Market</span></th>
                <th colspan="2">Actions</th> <!-- Added colspan for merged cells -->
            </tr>
        </table>
    </fieldset>
    <!-- Button to return to the home page -->
    <div style="margin-top: 60px">
      <button type="button" id="GoToUP" class="btn btn-primary" onclick="GoToHome()">Home</button>
    </div>
    <script>
    
    // Function to redirect to the home page
    function GoToHome(){
          window.location.href="/"
        }

    // Function to redirect to the page for creating new employees
    function showCreate(){
        window.location.href="/create_employees" 
    }
    
    // Function to fetch all employees data via AJAX
    function getAllAjax(){
    
        $.ajax({
            // URL to send the AJAX request for fetching employees
            url: "/employees",
            method: "GET",
            dataType: "json",
            // Function to execute if the request succeeds
            success: function(result) {
                // Iterate through each employee in the result and add to the table
                result.forEach(function(employee) {
                    addEmployeeToTable(employee);
                });
            },
            // Function to execute if the request fails
            error: function(xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            }
        });
    }
    
    // Function to extract employee data from a table rowMy 
    function getEmployeeFromRow(rowElement){
           
        var employeeToUpdate = {}
        employeeToUpdate.id  = rowElement.getAttribute('id')
        employeeToUpdate.first_name = rowElement.cells[1].firstChild.textContent
        employeeToUpdate.last_name = rowElement.cells[2].firstChild.textContent
        employeeToUpdate.employee_id = rowElement.cells[3].firstChild.textContent
        employeeToUpdate.market = rowElement.cells[4].firstChild.textContent
        return employeeToUpdate;
    }

    // Function to redirect to the update_employee page with employee data as URL parameters
    function showUpdate(rowElement) {
        var employeeToUpdate = getEmployeeFromRow(rowElement);
        console.log(employeeToUpdate);
    
        // Redirect to the update_employee page with the employee data as URL parameters
        window.location.href = "/update_employee?id=" + employeeToUpdate.id + 
                                "&first_name=" + encodeURIComponent(employeeToUpdate.first_name) +
                                "&last_name=" + encodeURIComponent(employeeToUpdate.last_name) +
                                "&employee_id=" + encodeURIComponent(employeeToUpdate.employee_id) +
                                "&market=" + encodeURIComponent(employeeToUpdate.market);
    }

    // Function to delete an employee via AJAX
    function doDelete(rowElement) {
        var employeeToDelete = rowElement.getAttribute('id');
        console.log("Employee to delete: ", employeeToDelete);
        deleteAjax(employeeToDelete, rowElement);
    }
    
    // Function to perform AJAX delete operation
    function deleteAjax(employeeToDelete, rowElement) {
        $.ajax({
            url: "/employees",
            method: "DELETE",
            // Data object to send with the request (employee ID to delete)
            data: JSON.stringify({ id: employeeToDelete }),
            // Expected data type of the response 
            dataType: "json",
            // Content type of the request body
            contentType: "application/json; charset=utf-8",
            // Function to execute if the request succeeds
            success: function(result) {
                console.log(result);
                // Remove the row from the table after deletion
                var tableElement = document.getElementById('employeeTable');
                var rowIndex = rowElement.rowIndex;
                tableElement.deleteRow(rowIndex);
                // Reload the page to reflect the changes
                location.reload()
            },
            error: function(xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            }
        });
    }

    // Function to add employee data to the table
    function addEmployeeToTable(employee){
        var tableElement = document.getElementById('employeeTable');
        var rowElement = tableElement.insertRow(-1);
        rowElement.setAttribute('id', employee.id);
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = employee.id;
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = employee.first_name;
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = employee.last_name;
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = employee.employee_id;
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = employee.market;
        var cell6 = rowElement.insertCell(5); // Action cell
        cell6.innerHTML = '<button class="btn btn-primary btn-space" onclick="showUpdate(this.parentNode.parentNode)">Update</button>';
        var cell7 = rowElement.insertCell(6); // Action cell
        cell7.innerHTML = '<button class="btn btn-primary btn-space" onclick="doDelete(this.parentNode.parentNode)">Delete</button>';
    }

    // Call the getAllAjax() function when the page loads
    getAllAjax();
</script>
    {% endblock %}